<!DOCTYPE html>
<html lang="<%= lang %>">

<head>
    <%- include('../partials/head', { title: t.errorTitle }) %>
</head>

<body>
    <div class="box text-center">
        <h1 class="error-code">404</h1>
        <p class="error-desc">
            <%= t.errorDesc %>
        </p>
        <a class="project-card-link" href="/?lang=<%= lang %>">
            <div class="project-item flex-center">
                <span class="project-name">
                    <%= t.backToHub %>
                </span>
            </div>
        </a>
    </div>
</body>

</html>
